body {
  margin: 0;
  background-image: url('./assets/images/SAVIORS_OF_ULDUM_BOARD.png');
  background-size: cover;
}


* {
  box-sizing: border-box;
}

.title {

height: 15vh;
display: inline-block;
width: 100%;
text-align: center;
font-size: 80px;
font-family: fantasy;
color: gold;
}
.main {

  height: 80vh;
  display:flex;
}

.row {
width: 100%;
height: calc(43.33% - 65px);
margin: 10px;
}
.container{
  height: 100%;
  width: 100%;

}
.stats{
  font-family: fantasy;
  font-size: large;
}
#stats1, #stats7 {

background-image: linear-gradient(#73471C, #FCD237);
border-radius: 50px;
}
#stats2 {
background-image: linear-gradient(#73471C, #FCD237);
border-radius: 50px;
}
#stats3{
background-image: linear-gradient(#73471C, #EDA115);
border-radius: 50px;
}
#stats4{
background-image: linear-gradient(#7E7463, #EDA115);
border-radius: 50px;
}
#stats5{
background-image: linear-gradient(#73471C, #EDA115);
border-radius: 50px;
}
#stats6{
background-image: linear-gradient(#7E7463, #EDA115);
border-radius: 50px;
}

.cardContainer{

  height: 91%;
  box-sizing: border-box;
  margin: 10px;
  width: calc(16.66% - 24px);
  display: inline-block;
  position: relative;
  /* background-image: url('/Users/krisringler/lfz/memory_match/assets/images/lfz-card.jpg');
  background-size: cover;
  background-position: center; */

}
.outerCard{
background-image: url('./assets/images/lfz-card.jpg');

}
.outerCard, .innerCard{

background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: absolute;
height: 100%;
width: 100%;
display: inline-block;
}

.card1{
  background-image: url('./assets/images/mysql-logo.jpg');
}
.card2{
  background-image: url('./assets/images/node-logo.png');
}

.card3{
  background-image: url('./assets/images/gitHub-logo.png');
}
.card4{
  background-image: url('./assets/images/docker-logo.jpg');
}
.card5{
  background-image: url('./assets/images/css-logo.png');
}
.card6{
  background-image: url('./assets/images/html-logo.png');
}
.card7{
  background-image: url('./assets/images/js-logo.png');
}
.card8{
  background-image: url('./assets/images/php-logo.jpeg');
}
.card9{
  background-image: url('./assets/images/react-logo.png');
}



.sideBar{
  display:inline-block;
  text-align: center;
  width: calc(17% - 20px);
  height: calc(98% - 20px);
  box-sizing: border-box;
  position: relative;
}
.stats{
display: inline-block;
padding: 15px;
margin: 15px 5px 15px 35px;
width: 65%;
height: 11%;
background-color: purple;
text-align: center;
}

.alert{
  height: 30%;
  width: 30%;
  position: absolute;
  top: 35%;
  left: 37%;
  background-image: url('https://media1.giphy.com/media/69pflI1DnDxBXnx9jS/giphy.gif?cid=790b7611245bbcb04ab998abb4ef3343e090dd5e05867377&rid=giphy.gif');
  text-align: center;
  display: inline-block;
  font-family: fantasy;
  font-size: 300%;
  color: gold;

}
.alertButton {
height: 13%;
width: 16%;

position: absolute;
top: 74%;
left: 44%;

}
.hidden{
  display: none;
}
