body {
  margin: 0;
}


* {
  box-sizing: border-box;
}

.title {
background-color: green;
height: 15vh;
display: inline-block;
width: 100%;
text-align: center;
}
.main {
  background-color: red;
  height: 85vh;
  display:flex;
}
.row {
width: 100%;
height: calc(43.33% - 80px);
margin: 5px;
}
.container{
  height: 100%;
  width: 100%;

}

.cardContainer{
  background-color: yellow;
  height: 75%;
  box-sizing: border-box;
  margin: 10px;
  width: calc(16.66% - 24px);
  display: inline-block;

}
.statsTitle{
  display:inline-block;
  background-color: blue;
  width: 25%;



}
.stats{
display: inline-block;
padding: 15px;
margin: 15px 5px 15px 35px;
width: 65%;
height: 11%;
background-color: purple;
text-align: center;
}
