body {

  background-image: url('./assets/images/expansionBg-flat-7d0981e5817773ca153c92bd7bb882c9fe38cdd91acc3942a8b1bb5d607fca2a25f7236d526e81e2f1d288f2621765835f3069c3d9c4fcec4e74129693f9724b.jpg');
  background-size: cover;
}
@font-face {
    font-family: 'belwelight';
    src: url('./assets/belwe/BelweLightBT.ttf') format('woff');
    font-weight: normal;
    font-style: normal;


}


.belwelight{
  font-family: 'belwelight';
}

* {
  box-sizing: border-box;
}

.title {

height: 15vh;
display: inline-block;
width: 100%;
text-align: center;
font-size: 80px;
  background: -webkit-linear-gradient(#73471C, #FCD237);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-weight: bold;

}
.main {

  height: 80vh;


}


/* .row {
width: 100%;
height: calc(43.33% - 65px);
margin: 10px;
} */

.container{
  height: 85vh;
  width: 80vw;
  display: inline-block;
}
.stats{

  font-size: large;
}
#stats1, #stats7 {

background-image: linear-gradient(#73471C, #FCD237);
border-radius: 50px;
}
#stats2 {
background-image: linear-gradient(#73471C, #FCD237);
border-radius: 50px;
}
#stats3{
background-image: linear-gradient(#73471C, #EDA115);
border-radius: 50px;
}
#stats4{
background-image: linear-gradient(#7E7463, #EDA115);
border-radius: 50px;
}
#stats5{
background-image: linear-gradient(#73471C, #EDA115);
border-radius: 50px;
}
#stats6{
background-image: linear-gradient(#7E7463, #EDA115);
border-radius: 50px;
}

.cardContainer{


  height: 30%;
  box-sizing: border-box;
  margin: 10px;
  width: 14%;

  display: inline-block;
  position: relative;
  perspective: 1000px;
  background-color: transparent;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* background-image: url('/Users/krisringler/lfz/memory_match/assets/images/lfz-card.jpg');
  background-size: cover;
  background-position: center; */

}

.outerCard, .innerCard{

background-repeat: no-repeat;
background-position: center;
/* background-size: cover; */
position: absolute;
height: 100%;
width: 100%;

/* display: inline-block; */
}
.innerCard{
  background-size: contain;
  /* background-size: 100px; */
  display: inline-block;

}

.card1{
  background-image: url('./assets/images/enUS_HighInquisitorWhitemane.png');
  background-size: 135%;

}
.card2{
  background-image: url('./assets/images/enUS_Brightwing.png');
  background-size: 135%;
}

.card3{
  background-image: url('./assets/images/enUS_Siegebreaker.png');
  background-size: 135%;
}
.card4{
  background-image: url('./assets/images/New_enUS_EVILMiscreant.png');
  background-size: 89%;
}
.card5{
  background-image: url('./assets/images/New_enUS_ArchivistElysiana.png');
  background-size: 88%;
}
.card6{
  background-image: url('./assets/images/ArchmageVargoth_enUS.png');
  background-size: 135%;
}
.card7{
  background-image: url('./assets/images/ArchVillainRafaam_enUS.png');
  background-size: 135%;
}
.card8{
  background-image: url('./assets/images/BaristaLynchen_enUS.png');
  background-size: 135%;
}
.card9{
  background-image: url('./assets/images/AzeriteElemental_enUS.png');
  background-size: 135%;
}



.sideBar{
  display:inline-block;
  text-align: center;
  width: calc(17% - 20px);
  height: 100%;
  bottom: 8%;
  box-sizing: border-box;
  position: relative;
}
.stats{
display: inline-block;
padding: 15px;
margin: 15px 5px 15px 35px;
width: 65%;
height: 11%;
background-color: purple;
text-align: center;
}

.alert{
  height: 45%;
  width: 40%;
  position: absolute;
  top: 31%;
  left: 31%;
  background-image: url('./assets/images/win-gif.gif');
  background-size:cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;

  font-size: 300%;
  color: gold;

}
.introBox{
  height: 78%;
  width: 58%;
  position: absolute;
  top: 16%;
  left: 23%;
  background-image: url('./assets/images/hearthstone-opening-gif.gif');
  background-size:cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 25px;
  font-size: 300%;
  color: gold;

}
.alertButton {
height: 13%;
width: 16%;
background-image: linear-gradient(#73471C, #FCD237);
position: absolute;
top: 74%;
left: 44%;
padding: 5px;
font-size: 15px;
border-radius: 25px;

}
.hidden{
  display: none;
}
